.form input,
.form button {
  display: inline-block;
  border: none;
  box-sizing: border-box;
  font-size: 20px;
  padding: 8px 16px;
}

.form input {
  background-color: #eeeeee;
}

.form button {
  background-color: #888888;
  color: #ffffff;
}
